<template>
  <div>
    <gl-button label>Label</gl-button>
    <gl-button size="small" label>Label</gl-button>
    <gl-button-group>
      <gl-button label>b29cc44d</gl-button>
      <gl-button icon="duplicate" />
      <gl-button icon="folder-open" />
    </gl-button-group>
  </div>
</template>
