<template>
  <gl-new-dropdown text="Some dropdown">
    <gl-new-dropdown-item
      avatar-url="https://secure.gravatar.com/avatar/78b060780d36f51a6763ac9831a4f022?s=180&d=identicon"
      secondary-text="@sytses"
    >
      Sid Sijbrandij
    </gl-new-dropdown-item>
  </gl-new-dropdown>
</template>
