<template>
  <div>
    <gl-deprecated-badge variant="primary">Primary</gl-deprecated-badge>
    <gl-deprecated-badge variant="secondary">Secondary</gl-deprecated-badge>
    <gl-deprecated-badge variant="success">Success</gl-deprecated-badge>
    <gl-deprecated-badge variant="danger">Danger</gl-deprecated-badge>
    <gl-deprecated-badge variant="warning">Warning</gl-deprecated-badge>
    <gl-deprecated-badge variant="info">Info</gl-deprecated-badge>
    <gl-deprecated-badge variant="light">Light</gl-deprecated-badge>
    <gl-deprecated-badge variant="dark">Dark</gl-deprecated-badge>
  </div>
</template>
