/*
 * Label-specific utilities
 */
@mixin gl-label-focus($color) {
  box-shadow: 0 0 0 $gl-border-size-1 $color, $focus-ring, var(--label-inset-border) !important;
}

$label-max-width: 100%;

.gl-label {
  @include gl-p-0;
  @include gl-bg-white;
  @include gl-overflow-hidden;
  @include gl-display-inline-flex;
  @include gl-rounded-pill;
  @include gl-relative;
  @include gl-max-w-full;
  @include gl-font-base;
  box-shadow: var(--label-inset-border) !important;

  &:focus {
    @include gl-outline-none;
    @include gl-text-decoration-underline;
    @include gl-label-focus($white);
  }

  > .gl-label-link {
    @include gl-line-height-normal;
    @include gl-display-flex;
    @include gl-reset-color;
    @include gl-max-w-full;

    &:focus {
      @include gl-text-decoration-underline;
    }

    &:hover {
      @include gl-reset-text-decoration-color;
    }
  }

  .gl-label-text {
    @include gl-display-block;
    @include gl-px-3;
    @include gl-py-2;
    @include gl-font-weight-normal;
    @include gl-font-sm;
    @include str-truncated($label-max-width);
  }

  &-text-dark {
    @include gl-text-black-normal;
  }

  &-text-light {
    @include gl-text-white;
  }

  &-scoped {
    .gl-label-text {
      &:first-child {
        @include gl-pr-2;
      }

      &:not(:first-child) {
        @include gl-bg-transparent;
        @include gl-pl-2;
        @include gl-pr-3;
      }
    }
  }

  &-sm {
    .gl-label-text {
      @include gl-px-3;
      @include gl-py-0;
    }

    .gl-label-icon {
      @include gl-py-0;
    }
  }
}

.gl-label-tooltip-title {
  @include gl-display-block;
  @include gl-text-theme-indigo-300;
  @include gl-font-weight-bold;
}
