@mixin gl-tmp-dropdown-item-style {
  @include gl-align-items-center;
  @include gl-bg-transparent;
  @include gl-border-0;
  @include gl-display-flex;
  @include gl-font-base;
  @include gl-font-weight-normal;
  @include gl-line-height-normal;
  @include gl-overflow-hidden;
  @include gl-px-4;
  @include gl-py-3;
  @include gl-relative;
  @include gl-rounded-0;
  @include gl-shadow-none;
  @include gl-text-gray-900;
  @include gl-text-left;
  @include gl-w-full;
  @include gl-white-space-normal;
}

.gl-new-dropdown-item {
  .dropdown-item {
    @include gl-tmp-dropdown-item-style;

    .gl-avatar {
      @include gl-flex-shrink-0;
      @include gl-mr-3;
    }

    .gl-new-dropdown-item-check-icon {
      @include gl-flex-shrink-0;
      @include gl-mr-3;
      @include gl-text-gray-700;
    }

    .gl-new-dropdown-item-icon {
      @include gl-flex-shrink-0;
      @include gl-mr-3;
    }

    .gl-new-dropdown-item-icon-right {
      @include gl-border-1;
      @include gl-border-gray-400;
      @include gl-border-solid;
      @include gl-flex-shrink-0;
      @include gl-p-1;
      @include gl-rounded-small;
      @include gl-text-gray-700;
    }

    .gl-new-dropdown-item-text-primary {
      @include gl-m-0;
    }

    .gl-new-dropdown-item-text-secondary {
      @include gl-m-0;
      @include gl-text-gray-700;
    }

    .gl-new-dropdown-item-text-wrapper {
      @include gl-flex-grow-1;
      @include gl-mr-3;
    }

    // make sure the text color is not overridden
    &.text-danger {
      @include gl-text-red-500;
    }

    &.disable-hover {
      @include gl-text-decoration-none;
    }

    &:not(.disable-hover):hover,
    &:active,
    &:focus,
    &.is-focused {
      @include gl-bg-gray-50;
      @include gl-text-decoration-none;
      @include gl-text-gray-900;
      @include gl-outline-0;

      // make sure the text color is not overridden
      &.text-danger {
        @include gl-text-red-500;
      }

      .avatar {
        @include gl-border-white;
      }
    }
  }
}
