/*
 * Button-specific utilities
 */
@mixin gl-tmp-button-hover($border-color, $background-color) {
  box-shadow: inset 0 0 0 $gl-border-size-2 $border-color,
    0 px-to-rem(2px) px-to-rem(2px) 0 rgba(0, 0, 0, 0.08);
  background: $background-color;
}

.gl-button {
  @include gl-display-inline-flex;
}

.gl-button.gl-button,
.gl-button.gl-button.btn-block {
  @include gl-border-0;
  @include gl-py-3;
  @include gl-px-4;
  @include gl-bg-white;
  @include gl-line-height-normal;
  @include gl-text-gray-900;
  @include gl-fill-current-color;
  @include gl-inset-border-1-gray-200;
  @include gl-justify-content-center;
  @include gl-align-items-center;
  @include gl-font-base;
  @include gl-rounded-base;

  .gl-button-text {
    @include gl-overflow-hidden;
    @include gl-text-overflow-ellipsis;
    @include gl-white-space-nowrap;
  }

  .gl-button-loading-indicator {
    @include gl-mr-2;
  }

  .gl-icon {
    @include gl-h-5;
    @include gl-w-5;
    @include gl-flex-shrink-0;
    @include gl-mr-2;
    @include gl-top-auto;
  }

  gl-emoji {
    @include gl-mr-2;
    @include gl-relative;
    @include gl-font-lg;
    top: px-to-rem(1px);
  }

  &:hover {
    @include gl-tmp-button-hover($gray-300, $gray-50);
  }

  &:focus {
    @include gl-focus($gl-border-size-2, $gray-300);
    @include gl-bg-gray-50;
  }

  &:active,
  &.active {
    @include gl-focus($gl-border-size-2, $gray-400);
    @include gl-bg-gray-100;

    &:focus {
      @include gl-focus($gl-border-size-2, $gray-400);
    }
  }

  &.selected {
    @include gl-bg-gray-10;
    box-shadow: inset 0 px-to-rem(2px) px-to-rem(4px) $gray-200, inset 0 px-to-rem(1px) 0 $gray-200,
      inset px-to-rem(1px) 0 0 $gray-200, inset 0 px-to-rem(-1px) 0 $gray-200,
      inset px-to-rem(-1px) 0 0 $gray-200;
  }

  &.btn-info:not(:disabled),
  &.btn-success:not(:disabled),
  &.btn-danger:not(:disabled),
  &.btn-warning:not(:disabled) {
    @include gl-text-white;
  }

  &.btn-info:not(:disabled) {
    @include gl-bg-blue-500;
    @include gl-inset-border-1-blue-600;

    &:hover {
      @include gl-tmp-button-hover($blue-800, $blue-600);
    }

    &:focus {
      @include gl-focus($gl-border-size-2, $blue-800);
      @include gl-bg-blue-600;
    }

    &:active,
    &.selected {
      @include gl-focus($gl-border-size-2, $blue-900);
      @include gl-bg-blue-700;

      &:focus {
        @include gl-focus($gl-border-size-2, $blue-900);
      }
    }
  }

  &.btn-info.btn-secondary:not(:disabled) {
    @include gl-bg-white;
    @include gl-text-blue-500;
    @include gl-font-weight-normal;
    @include gl-inset-border-1-blue-500;

    &:hover {
      @include gl-text-blue-600;
      @include gl-tmp-button-hover($blue-600, $blue-50);
    }

    &:focus {
      @include gl-text-blue-600;
      @include gl-focus($gl-border-size-2, $blue-600);
      @include gl-bg-blue-50;
    }

    &:active,
    &.selected {
      @include gl-text-blue-700;
      @include gl-focus($gl-border-size-2, $blue-700);
      @include gl-bg-blue-100;

      &:focus {
        @include gl-focus($gl-border-size-2, $blue-700);
      }
    }
  }

  &.btn-success:not(:disabled) {
    @include gl-bg-green-500;
    @include gl-inset-border-1-green-600;

    &:hover {
      @include gl-tmp-button-hover($green-800, $green-600);
    }

    &:focus {
      @include gl-focus($gl-border-size-2, $green-800);
      @include gl-bg-green-600;
    }

    &:active,
    &.selected {
      @include gl-focus($gl-border-size-2, $green-900);
      @include gl-bg-green-700;

      &:focus {
        @include gl-focus($gl-border-size-2, $green-900);
      }
    }
  }

  &.btn-success.btn-secondary:not(:disabled) {
    @include gl-bg-white;
    @include gl-text-green-500;
    @include gl-font-weight-normal;
    @include gl-inset-border-1-green-500;

    &:hover {
      @include gl-text-green-600;
      @include gl-tmp-button-hover($green-600, $green-50);
    }

    &:focus {
      @include gl-text-green-600;
      @include gl-focus($gl-border-size-2, $green-600);
      @include gl-bg-green-50;
    }

    &:active,
    &.selected {
      @include gl-text-green-700;
      @include gl-focus($gl-border-size-2, $green-700);
      @include gl-bg-green-100;

      &:focus {
        @include gl-focus($gl-border-size-2, $green-700);
      }
    }
  }

  &.btn-warning:not(:disabled) {
    @include gl-bg-orange-500;
    @include gl-inset-border-1-orange-600;

    &:hover {
      @include gl-tmp-button-hover($orange-800, $orange-600);
    }

    &:focus {
      @include gl-focus($gl-border-size-2, $orange-800);
      @include gl-bg-orange-600;
    }

    &:active,
    &.selected {
      @include gl-focus($gl-border-size-2, $orange-900);
      @include gl-bg-orange-700;

      &:focus {
        @include gl-focus($gl-border-size-2, $orange-900);
      }
    }
  }

  &.btn-warning.btn-secondary:not(:disabled) {
    @include gl-bg-white;
    @include gl-text-orange-500;
    @include gl-font-weight-normal;
    @include gl-inset-border-1-orange-500;

    &:hover {
      @include gl-text-orange-600;
      @include gl-tmp-button-hover($orange-600, $orange-50);
    }

    &:focus {
      @include gl-text-orange-600;
      @include gl-focus($gl-border-size-2, $orange-600);
      @include gl-bg-orange-50;
    }

    &:active,
    &.selected {
      @include gl-text-orange-700;
      @include gl-focus($gl-border-size-2, $orange-700);
      @include gl-bg-orange-100;

      &:focus {
        @include gl-focus($gl-border-size-2, $orange-700);
      }
    }
  }

  &.btn-danger:not(:disabled) {
    @include gl-bg-red-500;
    @include gl-inset-border-1-red-600;

    &:hover {
      @include gl-tmp-button-hover($red-800, $red-600);
    }

    &:focus {
      @include gl-focus($gl-border-size-2, $red-800);
      @include gl-bg-red-600;
    }

    &:active,
    &.selected {
      @include gl-focus($gl-border-size-2, $red-900);
      @include gl-bg-red-700;

      &:focus {
        @include gl-focus($gl-border-size-2, $red-900);
      }
    }
  }

  &.btn-danger.btn-secondary:not(:disabled) {
    @include gl-bg-white;
    @include gl-text-red-500;
    @include gl-font-weight-normal;
    @include gl-inset-border-1-red-500;

    &:hover {
      @include gl-text-red-600;
      @include gl-tmp-button-hover($red-600, $red-50);
    }

    &:focus {
      @include gl-text-red-600;
      @include gl-focus($gl-border-size-2, $red-600);
      @include gl-bg-red-50;
    }

    &:active,
    &.selected {
      @include gl-text-red-700;
      @include gl-focus($gl-border-size-2, $red-700);
      @include gl-bg-red-100;

      &:focus {
        @include gl-focus($gl-border-size-2, $red-700);
      }
    }
  }

  &.btn-sm {
    @include gl-py-2;
    @include gl-px-3;
    @include gl-line-height-normal;
    @include gl-font-base;

    svg {
      @include gl-h-4;
      @include gl-w-4;
      @include gl-mt-1;
      @include gl-mb-1;
    }

    gl-emoji {
      @include gl-font-sm;
    }
  }

  &.btn-dashed {
    @include gl-inset-border-1-gray-400;
    outline: px-to-rem(1px) dashed $white;
    outline-offset: px-to-rem(-1px);

    &:hover {
      @include gl-bg-gray-50;
    }

    &:focus {
      @include gl-focus($gl-border-size-1, $gray-400);
      outline: px-to-rem(1px) dashed $gray-50;
      outline-offset: px-to-rem(-1px);
    }

    &:active,
    &.active {
      @include gl-focus($gl-border-size-1, $gray-500);
      outline: px-to-rem(1px) dashed $gray-100;
      outline-offset: px-to-rem(-1px);
      @include gl-bg-gray-100;

      &:focus {
        @include gl-focus($gl-border-size-1, $gray-500);
        outline: px-to-rem(1px) dashed $gray-100;
        outline-offset: px-to-rem(-1px);
      }
    }
  }

  &.btn-icon {
    @include gl-p-3;
    @include gl-line-height-normal;

    svg {
      @include gl-mr-0;
    }

    &.btn-sm {
      @include gl-py-2;
      @include gl-px-3;
    }
  }

  &.button-ellipsis-horizontal,
  &.button-ellipsis-horizontal.btn-sm {
    @include gl-py-0;
    @include gl-px-2;

    svg {
      @include gl-h-5;
      @include gl-w-5;
      @include gl-m-0;
    }
  }

  &.btn-label,
  &.btn-label:hover,
  &.btn-label:focus,
  &.btn-label:active {
    @include gl-bg-gray-10;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-inset-border-1-gray-200;
    @include gl-cursor-default;
  }

  &.disabled,
  &[disabled] {
    @include gl-bg-gray-10;
    @include gl-text-gray-400;
    @include gl-inset-border-1-gray-100;
    @include gl-opacity-10;
    cursor: not-allowed !important;
  }
}

.btn-link {
  @include gl-border-0;
  @include gl-font-base;
  @include gl-line-height-normal;
  @include gl-text-blue-500;
  @include gl-py-0;
  @include gl-px-0;

  &:hover {
    @include gl-text-blue-500;
  }

  &:focus {
    @include gl-focus(null, false);
  }

  &:active {
    @include gl-focus(null, false);
    @include gl-text-blue-700;
    @include gl-text-decoration-underline;

    &:focus {
      @include gl-focus(null, false);
    }
  }
}
