<template>
  <gl-button-group>
    <gl-button>Button 1</gl-button>
    <gl-button>Button 2</gl-button>
    <gl-new-dropdown text="Some dropdown">
      <gl-new-dropdown-item>First item</gl-new-dropdown-item>
      <gl-new-dropdown-item>Second item</gl-new-dropdown-item>
      <gl-new-dropdown-item>Last item</gl-new-dropdown-item>
    </gl-new-dropdown>
  </gl-button-group>
</template>
